* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
}
:root {
  /* Colores principales */
  --fondo: #f7f4fa;
  --color-exito-suave: #ead3ea8e;
  --color-alerta-suave: #f6d6d693;
  --primario: #7e57a0; /* morado suave */
  --secundario: #d8c6e66c; /* lila claro */
  --acento: #a7c7e7; /* azul calmado */

  /* Texto */
  --txt-principal: #000000;
  --txt-secundario: #2e2e2e;
  --txt-claro: #ffffff;

  /* Bordes y sombras */
  --shadow-suave: 0 0 15px rgba(114, 0, 214, 0.473);
  --shadow-inset: inset 0 0 10px rgba(47, 0, 88, 0.473);
  --shadow-media: 0 0 15px rgba(216, 7, 7, 0.541);
  --shadow-densa: 0 0 7px rgb(0, 0, 0);

  /* Estados */
  --color-hover: #6d4a8c;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: inset var(--shadow-media);
}
main {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--color-alerta-suave);
}
.img-portada {
  object-fit: cover;
  background-position: center;
  width: 100%;
  box-shadow: inset var(--shadow-suave);
  z-index: -1;
}
.txt-pie {
  width: 95%;
  margin: 5px auto;
  text-align: center;
  color: var(--azul);
  font-size: 12px;
  padding: 5px;
}
.fx {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
  h2 {
    width: 95%;
    text-align: center;
  }
}
.fx-col {
  flex-direction: column;
}
.fx-nowrap {
  flex-wrap: nowrap;
}
.titulo {
  font-size: 44px;
  max-width: 95%;
  text-align: center;
  margin: 5px 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
}
.f-frase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: var(--shadow-densa);
}
.img-frase {
  width: 450px;
  max-width: 95%;
  object-fit: contain;
  border-radius: 20px;
  transform: perspective(1000px) rotateY(8deg) rotateX(4deg);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.45);
  transition: 0.4s;
  margin: 0 10px 10px 10px;
}

.img-frase:hover {
  transform: perspective(1000px) rotateY(0deg) scale(1.02);
}
.txt-frase {
  font-size: 28px;
  max-width: 95%;
  text-align: center;
  margin: 10px;
  font-style: italic;
  text-align: justify;
  width: 450px;
}

.seccion {
  font-size: 20px;
  text-align: justify;
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
ul {
  list-style-position: inside;
  list-style: none;
  padding: 0%;
  margin: 0% auto;
  text-align: center;
}
.intro {
  box-shadow: var(--shadow-media);
  background-color: var(--color-alerta-suave);
}
.indice {
  box-shadow: var(--shadow-suave);
  background-color: var(--color-exito-suave);
  li::before {
    content: "📌";
  }
}
.glosario {
  box-shadow: var(--shadow-media);
  background-color: var(--color-alerta-suave);
  li::before {
    content: "🧠";
  }
}

.ppts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: monospace;
}

.video-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 444px;
  width: 250px;
  position: relative;
  border: none;
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: none;
  }
  h2 {
    position: absolute;
    top: 0;
    right: 0;
    right: 1px;
    writing-mode: vertical-rl;
    pointer-events: none;
    height: fit-content;
    width: fit-content;
    border-radius: 0 10px 0 0;
    font-size: 18px;
    background-color: var(--fondo);
    padding: 7px 3px;
    border: none;
  }
}
.video-ppt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 420px;
  max-width: 95%;
  box-shadow: var(--shadow-media);
  border-radius: 10px;
  video {
    width: 100%;
    border-radius: 10px;
  }
  a {
    text-decoration: none;
    color: var(--txt-principal);
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
  }
  a:hover {
    color: var(--color-hover);
    transition: 0.3s;
  }
}
.tiktok {
  height: 236px;
}

.carrusel {
  position: relative;
  width: 425px;
  height: 225px;
  max-width: 95%;
  box-shadow: 0 0 5px;
  overflow: hidden;
  border-radius: 7px;
  margin: 10px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    object-position: center;
    object-fit: contain;
  }
  .activo {
    opacity: 1;
  }
  button {
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    box-shadow: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--secundario);
  }
  button:hover {
    background-color: var(--color-hover);
    color: var(--txt-claro);
    transition: 0.3s;
  }
  .adelante {
    right: 5px;
  }
  .atras {
    left: 5px;
  }
  a {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: var(--shadow-inset);
    background-color: var(--txt-claro);
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    i {
      font-size: 20px;
      color: var(--primario);
    }
  }
  a:hover {
    background-color: var(--color-hover);
    transition: 0.3s;
    scale: 0.95;
    i {
      color: var(--txt-claro);
      z-index: 100;
    }
  }
}

.guia {
  min-width: 95%;
  height: 50vw;
  border-radius: 15px;
  margin-top: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}

.autoevalua {
  max-width: 95%;
  object-fit: contain;
  border-radius: 7px;
  margin: 10px auto;
  box-shadow: var(--shadow-densa);
}

.mapa {
  width: 800px;
  max-width: 95%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 5px;
    max-width: 95%;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: var(--shadow-densa);
  }
}

.btn-videos {
  width: 400px;
  max-width: 95%;
  margin: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: var(--shadow-densa);
  }
}
.btn-videos:hover {
  scale: 0.98;
  transition: 0.5s;
}

.volver {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: var(--shadow-inset);
  color: var(--color-hover);
  z-index: 1000;
  background-color: var(--txt-claro);
}
.volver:hover {
  background-color: var(--color-hover);
  color: var(--txt-claro);
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

.var1 {
  background-color: #0f9eb1;
  z-index: 1000;
  h2 {
    background-color: var(--primario);
  }
}
