* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
}
:root {
  /* Colores principales */
  --fondo: #f7f4fa;
  --exito-suave: #4b09474d;
  --alerta-suave: #f6d6d693;
  --primario: #7e57a0; /* morado suave */
  --secundario: #d8c6e66c; /* lila claro */
  --acento: #a7c7e7; /* azul calmado */

  /* Texto */
  --txt-principal: #000000;
  --txt-secundario: #2e2e2e;
  --txt-claro: #ffffff;

  /* Bordes y sombras */
  --shadow-suave: 0 0 15px rgba(114, 0, 214, 0.473);
  --shadow-inset: inset 0 0 10px rgba(47, 0, 88, 0.473);
  --shadow-media: 0 0 15px rgba(216, 7, 7, 0.541);
  --shadow-densa: 0 0 7px rgb(0, 0, 0);

  /* Estados */
  --color-hover: #6d4a8c;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--exito-suave);
}
.img-portada {
  object-fit: contain;
  background-position: center;
  width: 100%;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--exito-suave);
}
.txt-pie {
  width: 95%;
  margin: 5px auto;
  text-align: center;
  color: var(--azul);
  font-size: 12px;
  padding: 5px;
}
.fx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
}
.fx-col {
  flex-direction: column;
}
.fx-nowrap {
  flex-wrap: nowrap;
}
.titulo {
  font-size: 44px;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  background-color: var(--exito-suave);
}
.f-frase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.img-frase {
  width: 450px;
  max-width: 95%;
  object-fit: contain;
  border-radius: 20px;
  transform: perspective(1000px) rotateY(8deg) rotateX(4deg);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.45);
  transition: 0.4s;
  margin: 0 10px 10px 10px;
}

.img-frase:hover {
  transform: perspective(1000px) rotateY(0deg) scale(1.02);
}
.txt-frase {
  font-size: 28px;
  max-width: 95%;
  text-align: center;
  margin: 10px;
  font-style: italic;
  text-align: justify;
  width: 450px;
}

.seccion {
  font-size: 20px;
  width: 95%;
  margin: 5px auto;
}
ol{
  width: 95%;
  margin: 0 auto;
  li{
    text-align: justify;
  }
}
ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  text-indent: -10%;
}

ul li {
  width: 100%;
  padding-left: 10%;
  text-align: justify;
  box-sizing: border-box;
}
.intro {
  text-align: justify;
}
.indice {
  
  li::before {
    content: "📌";
  }
}
.glosario {
 
  li::before {
    content: "🧠";
  }
}

.ppts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: monospace;
}

.carrusel {
  position: relative;
  width: 425px;
  height: 225px;
  max-width: 95%;
  box-shadow: 0 0 5px;
  overflow: hidden;
  border-radius: 7px;
  margin: 10px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    object-position: center;
    object-fit: contain;
  }
  .activo {
    opacity: 1;
  }
  button {
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    box-shadow: 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--secundario);
  }
  button:hover {
    background-color: var(--color-hover);
    color: var(--txt-claro);
    transition: 0.3s;
  }
  .adelante {
    right: 5px;
  }
  .atras {
    left: 5px;
  }
  a {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: var(--shadow-inset);
    background-color: var(--txt-claro);
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    i {
      font-size: 20px;
      color: var(--primario);
    }
  }
  a:hover {
    background-color: var(--color-hover);
    transition: 0.3s;
    scale: 0.95;
    i {
      color: var(--txt-claro);
      z-index: 100;
    }
  }
}

.guia {
  min-width: 95%;
  height: 50vw;
  border-radius: 15px;
  margin-top: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}

.autoevalua {
  max-width: 95%;
  object-fit: contain;
  border-radius: 7px;
  margin: 10px auto;
  box-shadow: var(--shadow-densa);
}

/*Mapa Mental*/
.mapa {
  width: 800px;
  max-width: 95%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 5px;
    max-width: 95%;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: var(--shadow-densa);
  }
}

.btn-videos {
  width: 400px;
  max-width: 95%;
  margin: 10px;
  transition: 0.5s;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: var(--shadow-densa);
  }
}
.btn-videos:hover {
  transform: scale(0.98);
}

/*Boton de retorno*/
.volver {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: var(--shadow-inset);
  color: var(--color-hover);
  z-index: 1000;
  background-color: var(--txt-claro);
}
.volver:hover {
  background-color: var(--color-hover);
  color: var(--txt-claro);
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}



.anexosContenido {
  max-width: 95%;
  width: 300px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--txt-principal);
  box-shadow: var(--shadow-densa);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  font-size: 20px;
  color: var(--txt-claro);
  text-align: center;
  padding: 0 5px;
}
.anexosContenido:hover {
  color: var(--color-hover);
  transform: scale(0.98);
}

/*VIDEOS_PPTS.HTML*/
.fx-video-ppts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  flex-wrap: wrap;
  background-color: var(--txt-claro);
}

.tituloVideosPtts {
  width: 100%;
  text-align: center;
  background-color: var(--txt-principal);
  color: var(--txt-claro);
}

.video-ppt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 420px;
  max-width: 95%;
  border-radius: 10px;
  background-color: var(--txt-principal);
  color: var(--txt-claro);
  video {
    width: 100%;
    border-radius: 10px;
  }
  a {
    text-decoration: none;
    color: var(--txt-claro);
    font-size: 16px;
    font-weight: bold;
  }
  a:hover {
    color: var(--color-hover);
    transition: 0.3s;
  }
}
.pieVideosPtts {
  width: 100%;
  text-align: center;
  background-color: var(--txt-principal);
  color: var(--txt-claro);
  padding: 5px;
}

/*VIDEOS_AVATAR.HTML*/
.video-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  aspect-ratio: 9/16;
  width: 250px;
  position: relative;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: var(--shadow-densa);

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background-color: var(--txt-principal);
  }
  h2 {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
    pointer-events: none;
    height: fit-content;
    width: fit-content;
    border-radius: 0 10px 0 0;
    font-size: 18px;
    background-color: var(--fondo);
    padding: 7px 3px;
    border: none;
  }
}

/*Reloj*/
.container {
  background: white;
  width: 95%;
  max-width: 900px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow-densa);
  text-align: center;
  margin: 10px auto;

  h1 {
    color: #06295c;
    font-size: 42px;
    margin-bottom: 5px;
  }

  .subtitle {
    color: #1597a5;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .game {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.selected {
  background: #ff6f61 !important;
  color: white;
}

.number {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffd44d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #06295c;
  transform: translate(-90%, -90%);
}

.hand {
  position: absolute;
  width: 6px;
  height: 105px;
  background: #06295c;
  left: 50%;
  top: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(0deg);
  border-radius: 10px;
  transition: transform 2s ease-out;
}

.center {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #06295c;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  width: 300px;
  aspect-ratio: 1/1;
  max-width: 100%;
  border: 12px solid #06295c;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}

.panel {
  max-width: 380px;
  text-align: center;

  .question-box {
    background: #f3fbff;
    border: 3px dashed #1597a5;
    border-radius: 18px;
    padding: 25px;
    min-height: 130px;
    font-size: 22px;
    color: #06295c;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    margin-top: 25px;
    background: #ffcc33;
    color: #06295c;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    transform: scale(1.05);
    background: #ffc107;
  }
}
